@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  @apply bg-black selection:!bg-blue-500;
}

html .logo {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

html.dark .logo {
  -webkit-filter: invert(0%); /* safari 6.0 - 9.0 */
  filter: invert(0%);
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-invert {
  @apply bg-black text-white dark:bg-white dark:text-black;
}

.text-no-invert {
  @apply bg-white text-black dark:bg-black dark:text-white;
}

.text-light {
  @apply text-gray-500 dark:text-gray-800;
}

*::selection {
  @apply !bg-blue-500 !text-white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
